.infofecha {
  &__container {
    h4::before {
      content: "⌟";
      font-weight: bold;
      color: var(--cuarto);
    }
    position: relative;
    z-index: 1;
    box-shadow: 0 8px 32px 0 rgba(100, 208, 195, 0.37);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    padding: 5%;
    span {
      font-weight: bold;
    }
    b {
      color: var(--primario);
    }
  }
  &__container::before {
    background: url(imgCurso1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.2;
    z-index: -1;
  }
  &__button {
    margin-top: 3%;
  }
}
