.confian {
  &__container {
    background-color: var(--terciario);
    padding: 2%;
    margin-bottom: 4%;
  }
  &__flexImg {
    width: 100%;
    display: flex;
    justify-content: space-around;
    img {
      width: 200px;
      height: 100px;
    }
  }
}
