.confian {
  &__container {
    background-color: rgb(231, 231, 231);
    padding: 2%;
    margin-bottom: 4%;
  }
  &__flexImg {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 10px;

    img {
      width: 200px;
      height: 100px;
    }
  }
}
