.cards {
  &__div {
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 5%;
  }
  &__card {
    margin: 5%;
    border: 1px solid var(--secundario2) !important;
    position: relative;
  }

  &__btn {
    transition: all 300ms ease-in;
    top: 0;
    left: 0;
    width: 100%;
    height: 49%;
    backdrop-filter: blur(2px);
    position: absolute;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    button {
      box-shadow: 2px 2px 9px 0px rgba(0, 0, 0, 0.75);
      -webkit-box-shadow: 2px 2px 9px 0px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 2px 2px 9px 0px rgba(0, 0, 0, 0.75);
    }
  }
  &__btn:hover {
    opacity: 1;
  }
}

.btn2 {
  height: 57%;
}

@media (max-width: 600px) {
  .cards {
    &__div {
      width: 100vw;
      padding: 0;
      margin: 0;
    }
    &__btn {
      position: relative;
      opacity: 1;
      backdrop-filter: none;
    }
  }
}
